<section class="hero py-12 overflow-hidden font-Gabarito">
    <div class="container flex mx-auto  items-center">
        <div class="w-8/12">
            <h1 class="text-[4rem]  font-bold leading-tight flex flex-col flex-wrap">
                <span class="bg-yellow-400 w-fit">Your Beauty,</span>
                <span class="text-[6rem] font-extralight text-slate-800">Your Schedule</span>
            </h1>
            <p class="text-lg mx-4">Indulge in a world of pure relaxation and beauty, where tranquility and transformation seamlessly blend, ensuring you emerge as the best version of yourself.</p>
        </div>

        <div class="w-4/12 flex justify-end px-10 ">
            <div class="flex  justify-center items-center space-y-4 gap-4 pr-32">
                <img [src]="ImagePaths[0]" alt=""
                    class="w-60 h-[30rem] object-cover hover:h-[34rem] -rotate-1 transition-all rounded-lg shadow-md">
                <img [src]="ImagePaths[2]" alt=""
                    class="w-80 h-[36rem] object-cover hover:w-96 transition-all rounded-lg shadow-md">
                <img [src]="ImagePaths[1]" alt="" class="w-60 h-96 object-cover 
                    hover:h-[28rem] hover:rotate-1 rotate-3 rounded-lg  transition-all shadow-md">
            </div>
        </div>
    </div>
</section>